@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }